body{
    margin: 0;
    padding: 0;
    background-color: rgba(235, 207, 182, 0.829);
    scroll-behavior: smooth;
}

.container{
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   display : flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 1000;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
}

.head-left img{
    width: 140px;
    height: 40px;
    margin-right: 20px;
}

.head-left button{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.head-left button:hover{
    opacity: 0.7;
}

.head-right{
    display: flex;
}

.head-right a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    padding-left: 25px;
}

.hero-section{

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    }
    
.hero-vid{
    width:100%; 
    height: 100%;
    position: relative;
}
.hero-video{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.hero-info{
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px

}

.hero-info h1{
    font-size: 120px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-info p{
    color:white;
    max-width: 210px;
}

.hero-info button{
    border: 2px solid #a55858;
    background-color: #a55451;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color:black;
    transition: 0.3s;
}

.hero-info button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #81413f;

}

.gaming-text{
    font-size: 120px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.next-btn{
    background-color: #ff8a66b6;
    position: absolute;
    left: 45%;
    bottom: 45%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    transition: 0.5s;
    opacity: 0;
}

.next-btn:hover{
    
    width: 200px;
    height: 200px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(187, 114, 114, 0.616);
}   

.about-section{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.image-box{
    width: 360px;
    height: 510px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section p{
    font-size: 12px;
}

.about-section h1{
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    max-width: 1150px;
    text-align: center;
    margin: 25px 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #8f3a56fb,#6e1f4bf5,#5e1332e5, #861c40fa ,#8f3a56fb);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.4s linear infinite;
}   

@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
}

.about-section h4{
    margin-top: 50px;
    margin-bottom: 0;
}

.about-section h5{
    margin-top: 5px;
    color: gray;
    max-width: 425px;
    text-align: center;
    line-height: 25px;
}

.info-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width:80%;
    margin-top: 100px;
}

.info-section h3{
    margin-bottom: 0;
}

.info-section p{
    margin-top: 5px;
    color: gray;
    max-width: 400px;
    line-height: 25px;
}
.info-cards{
    display:grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.card{
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.5s;
}

.card h2{
    position: absolute;
    margin: 0;
    top: 10px;
    left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    z-index: 1;
    background: linear-gradient(to right, #8f3a56fb,#6e1f4bf5,#5e1332e5, #861c40fa ,#8f3a56fb);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    max-width: 300px;
}
.card img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.card:hover{
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;
}
.card:nth-child(1){
    grid-row: span 2;
    height: 83vh;
}
.card:nth-child(2){
    grid-row: span 2;
    height: 83vh;
}
.card:nth-child(3){
    grid-row: span 2;
    height: 83vh;
}
.contact-section{
    position:relative;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    margin-bottom: 100px;
}

.contact-section .img1{
    position: absolute;
    top: 10%;
    right: 20px;
    height: 400px;
    clip-path:polygon(32% 0, 94% 0,74% 100%, 0% 100%);
}

.contact-section .img2{
    position: absolute;
    left: 50px;
    top: 10px;
    height: 200px;
    clip-path:polygon(35% 6%, 75% 0%,100% 50%, 75% 100%, 36% 95%, 8% 49%);
}

.contact-section .img3{
    position: absolute;
    left: 5%;
    bottom: -30%;
    height: 250px;
    width: 250px;
    clip-path: polygon(52% 5%, 100% 38%, 82% 100%, 34% 93%,0% 38%);
}

.contact-section p{
    margin-top: 100px;
}

.contact-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    max-width: 550px;
    text-align: center;
    background: linear-gradient(to right, #8f3a56fb,#6e1f4bf5,#5e1332e5, #861c40fa ,#8f3a56fb);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

.contact-section button{ 
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor:pointer;
    transition: 0.3s;
}

.contact-section button:hover{
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(26, 19, 19, 0.21);
    backdrop-filter: blur(20px);
    height: 150px;
}

.footer p{
    margin: 0 20px;
}

.footer ul{
    display: flex;
    list-style: none;
}

.footer a{
    text-decoration: none;
    color: rgb(12, 11, 11);
    padding: 7px 7px;
    border-radius: 50px;
    border: 1px solid rgb(49, 55, 59);
    transition: 0.3s;
    margin:0 10px;

}
.stones-img{
    position: absolute;
    margin-top: 22%;
    width: 500px;
}

.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
    }
    40%,70% {
        filter: blur(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }
}

.autoTakeFull{
    animation: autoTakeFullAnimation both;
    animation-timeline: view(70% 65%);
}

@keyframes autoTakeFullAnimation {
    to {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        margin-bottom: 100px;
    }
}

.autoDisplay{
    animation:  autoDisplayAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoDisplayAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@media screen and (max-width: 650px){
    header{
        padding: 0 10px;

    }
    .head-left button{
        display: none;
    }
    .head-right a{
        font-size: 12px;
        padding: 0 5px;
    }
    .hero-info{
        font-size: 90px;
    }
    .hero-section h1{
        font-size: 90px;
    }
    .next-btn{
        left: 25%;
        top: 40%
    }
    .about-section{
        margin:0;
    }
    .about-section h1{
        font-size: 50px;
    }
    .image-box{
        width: 300px;
        height: 500px;
    }
    .about-section h4, .about-section h5{
        max-width: 300px;
        text-align: center;
    }
    .contact-section .img1{
        width:150px;
        height: 200px;
        right: 0;
        top:20px;
    }
    .contact-section .img2{
       top:30px;
       left: -40px;
       width: 180px;
       height: 180px;
    }
    .contact-section .img3{
        left: -40px;
        bottom: 0;
        width: 150px;
        height: 180px;
    }
    .contact-section h1{
        font-size: 60px;
        max-width: 300px;
    }
    .footer p{
        display: none;
    }
    .footer ul{
        margin-left: 70px;
    }
    .stones-img{
        width: 400px;
        margin-top: 80%;
    }

}